<!DOCTYPE html>
<html>
    <head>
        <title>404 Page not Found</title>
    </head>
    <body>
        {{>header}}
        <br>
        {{>pagenotfound}}
        <br>
        {{>footer}}
    </body>
</html>