<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/stylesheet.css">
        <link rel="stylesheet" href="./css/horizontalnavmenu.css">
        <title>Express JS About page</title>
    </head>
    <body>
        {{>header}}
        <br>
        <table>
            <tr>
                <td>
                   <img src="./image/weatherstack_logo_footer.png"> 
                </td>
                <td>
                    <img src="./image/node_express.png">
                </td>
            </tr>
        </table>
        <br>
        {{>footer}}
    </body>
</html>