<!DOCTYPE html>
<html>
    <head>
        <title>Express JS Index page</title>
        <link rel="stylesheet" href="./css/controls.css">
    </head>
    <body>
        {{>header}}
        <br>
        <div id="InputElements">
            <form>
                <input id="Placename" type="text" placeholder="location">
                <button id="Submitbtn" type="submit">Get Forecast</button>
            </form>
        </div>
        <div id="OutputElements">
            <p id="msg-1"></p>
            <p id="msg-2"></p>
        </div>
        <br>
        {{>footer}}
        <script type='text/javascript' src="./js/index.js"></script>
    </body>
</html>