<link rel="stylesheet" href="./css/horizontalnavmenu.css">
<link rel="stylesheet" href="./css/header.css">
<div id="topnav">
            <a class="active" href="/">Weather</a>
            <a href="/about">About</a>
            <a href="/help">Help</a>
</div>
<br>
<h1>{{title}}</h1>
